.leftSection{
    background-repeat: no-repeat;
    background-size: contain;
    height:70vh;
    width: 100%;
}
.paymntcontainer{
background-size: contain;
height: 90vh;
padding-bottom: 60px;
}
.rightSection{
    justify-content: center;
    display: flex;
    padding: 40px 250px 40px 40px;
  flex-direction: column;
    height: 85vh; 
}
.btnblue{
  width:200px;
}
.registerBillBtn{
  justify-content: center;
  align-self: center;
}
.inputFeild{
  width:100%
}
.select {
  width:100%
}
.ant-form-item-label{
  text-align:left !important;
}
.heading{
  text-align: left;
 font-size: 40px;
font-weight: 600;
 background-color:#242d66;
 color:white;

}

.heading2{
  text-align: left;
 font-size: 25px;
font-weight: 600;
 background-color:#242d66;
 color:white;

}
.spanhead{
  text-align: left;
  font-weight: 600;
font-size: 40px;
background-color: #fff;
color:#242d66
}

.spanhead2{
  text-align: left;
  font-weight: 600;
font-size: 25px;
background-color: #fff;
color:#242d66
}


.mainHead{
  margin-left: 0;
  padding: 0;

}
.headingContainer{
margin-top: 20px;
}
.profile{
  display: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
height:100%
}
.userprofile{
padding-right: 20%;
padding-top: 10%;
padding-left: 20%;
flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label-user {
padding-left:0 !important;

}
.enrollContainer {
  background-color: white;
display: flex;
justify-content: center;
flex-direction:column;
height:65vh;
margin-top: 10px;
}



.ant-form-item-label > label {
  margin-right: 0px;
}
.enrollbtn {
  width:250px;

}
.session {
background-color:white;
display: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
height:82vh;
margin-top: 20px;
margin-bottom: 50px;
padding-left: 10%;
padding-right: 10%;
}
.ant-picker {
right:0 !important;
}
.inputfeild {
  width:100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}